/.idea/
/baseWeb/src/main/webapp/assets/
/baseWeb/src/main/webapp/3rdpartylicenses.txt
/baseWeb/src/main/webapp/favicon.ico
/baseWeb/src/main/webapp/index.html
/baseWeb/src/main/webapp/main.4b1ddc78b8403d35.js
/baseWeb/src/main/webapp/polyfills.4f48a7b7bad986e4.js
/baseWeb/src/main/webapp/runtime.397c3874548e84cd.js
/baseWeb/src/main/webapp/scripts.abbb37f329463b12.js
/baseWeb/src/main/webapp/styles.d5e4a1f95d219e12.css
